.app {
    position: relative;
}
.content__cart{
    min-height: 624px;
    width: 100vw;
    position: relative;
}
.content__slider-cart {
    display:none;
    z-index: 2;
    position: absolute;
    top: 0;
    left:85px;
    width: 271px;
}
.content__cart-overlay{
    position: absolute;
    top:224px;
    width: 100%;
    height: 100%;
    background-color:rgba(105,105,105,0.8);
    display: none;
    z-index: 1;
}
.content__cart-overlay::after {
    content: "";
    display:block;
    position: absolute;
    top:0;
    left: 0;
    transform:translateY(-100%);
    width: 100%;
    height:224px;
}
.content__cart-list--drum-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.content__cart-list--drum{
    width: 800px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
   
}
.content__cart-item-img{
    width:420px ;
    height:320px;
    margin-top: 50px;
}
.content__cart-item-heading{
    font-size: 2.6rem;
    margin: 25px 0;
    padding:10px;
}
.content__cart-item-btn{
    width: 320px;
    height:50px;
    background-color:#fff;
    font-size: 1.4rem;
    border:1px solid #C6C5C5;
    padding:10px;
    border-radius:4px;
    font-weight: 600;
   
}
.content__cart-item-btn:hover,
.content__cart-item-btn:hover .content__cart-item-btn-link{
    background-color: #000;
    color: #fff;
}
.content__cart-item-btn-link{
    text-decoration: none;
    color:#797474;
}


 /* có sản phẩm */
.content__cart-list-product-wrap{
    width: 100%;
    margin-bottom: 40px;
}
.content__cart-list-product-header{
    display: flex;
    height: 46px;
    align-items: center;
}
.content__cart-list-product-header__heading{
    font-size: 2rem;
    margin: 0;
    text-transform:uppercase;
    padding-right: 5px;
}
.content__cart-list-product-header__number{
    font-size: 1.4rem;
    color: #BDBDBD;
    transform:translateY(25%)
}
.content__cart-list-product-container{
    display: flex;
    width: 100%;
}
.content__cart-list-product-left{
    width: 1035px;
    background-color: #fff;
    margin-right:15px;
}
.content__cart-list-product-right{
    width: 315px;

}
.content__cart-list-product-item{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.content__cart-list-product-item__info{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.content__cart-list-product-item__img{
    width: 132px;
    height: 132px;
    padding:10px;
}
.content__cart-list-product-item__img img{
    width: 100%;
    height: auto;
}
.content__cart-list-product-item__name-wrap{
    display: flex;
    flex-direction:column;
}
.content__cart-list-product-item__name{
    font-size: 1.6rem;
}
.content__cart-list-product-item__delete{
    margin-top: 10px;
    font-size: 1.6rem;
}
.content__cart-list-product-item__info-link{
    color: #000;
    text-decoration: none;
}
.content__cart-list-product-item__delete-link{
    color: var(--primary-color);
    text-decoration: none;
}
.content__cart-list-product-item__price-wrap{
    display: flex;
    height: 132px;
    align-items: center;
}
.content__cart-list-product-item__price{
    font-size: 1.8rem;
    font-weight: 600;
    position: relative;
    margin-right: 30px;
}
.content__cart-list-product-item__price span {
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: underline;
    position: absolute;
    top: -15%;
}
.content__cart-list-product-item__price__pick-quantity{
    display:flex;
    justify-content: flex-end;
    margin-right: 20px;
    border: 1px solid #c8c8c8;
    overflow: hidden;
    border-radius: 4px;
}
.content__cart-list-product-item__price__pick-quantity__input{
    padding:5px;
    width: 50px;
    text-align: right;
    font-size: 1.6rem;
    outline:none;
    border: none;
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;

}
.btn__reduction{
    font-size: 1.6rem;
    width: 30px;
    background-color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
   
}
.btn__increase{
    font-size: 1.6rem;
    width: 30px;
    background-color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
   
}

.content__cart-list-product-right__promotion{
    background-color: #fff;
    padding:10px;
}

.content__cart-list-product-right__promotion-header__heading{
    font-size: 1.5rem;
    margin: 5px 0 15px;
}

.content__cart-list-product-right__promotion-body__input{
    height: 44px;
    width: 100%;
    outline: none;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    font-size: 1.4rem;
    padding-left: 10px;
    margin-bottom: 10px;
}
.content__cart-list-product-right__promotion-bottom{
    display: flex;
    justify-content: flex-end;
}
.content__cart-list-product-right__promotion-bottom__btn {
    width: 114px;
    height: 48px;
    font-size: 1.4rem;
    border:none;
    border-color: #efecec;
    border-radius: 4px;
}
.content__cart-list-product-right__promotion-bottom__btn:hover{
    background-color:#000;
    color: #fff;
}
.content__cart-list-product-right__total-price-wrap{
    margin-top: 10px;
    background-color: #fff;
}
.content__cart-list-product-right__total-price__provisional{
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin:0 15px;
    padding:20px 0 10px;
    border-bottom: 1px solid #c8c8c8;
}
.content__cart-list-product-right__total-price__provisional-header{
    font-size: 1.4rem;

}
.content__cart-list-product-right__total-price__provisional-price{
    font-size: 1.4rem;
    color: #444647;
    position: relative;
    margin-right: 10px;
}
.content__cart-list-product-right__total-price__provisional-price span{
    font-size: 1rem;
    text-decoration: underline;
    transform:translateY(-10%);
    position:absolute;
}
.content__cart-list-product-right__total-price{
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin:0 15px;
    padding:20px 0 40px;
}
.content__cart-list-product-right__total-price-header{
    margin: 0;
    font-size: 1.4rem;
}
.content__cart-list-product-right__total-price-number{
    font-size: 2.2rem;
    font-weight: 500;
    color:var(--primary-color);
    position: relative;
    margin-right: 10px;
}
.content__cart-list-product-right__total-price-number span{
    font-size: 1.6rem;
    position: absolute;
    transform:translateY(-20%);
    text-decoration: underline;

}
.content__cart-list-product-right__btn{
    margin-top: 10px;
    border-radius: 4px;
}